#storePageBody {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 60px 1fr;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

#productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200, 250));
    gap: 10px;
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
    margin: 10px;
}

.productCard {
    width: 100%;
    background-color: rgb(246, 246, 90);
}