#storePageBody {
    display: grid;
    grid-template-columns: 235px 1fr;
    grid-template-rows: 60px 1fr;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

#productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 2;
    margin: 10px;
}

.productCard {
    max-width: 220px;
    background-color: rgb(246, 246, 90);
}

.productImg {
    max-width: 100%;
    max-height: 150px;
    margin: 0 auto;
}

.productTitle:hover {
    color: #336699;
    text-decoration: underline;
    cursor: pointer;
}