#storePageBody {
    display: grid;
    grid-template-columns: 235px 1fr;
    grid-template-rows: 60px 1fr;
    background-color: rgb(255, 255, 255);
    margin: 0 auto 15px auto;
}

#productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    gap: 10px;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 2;
    margin: 10px;
}

.productCard {
    max-width: 260px;
    background-color: rgb(246, 246, 90);
}

.productImg {
    max-width: 100%;
    max-height: 150px;
    margin: 0 auto;
}

.productTitle:hover {
    color: #336699;
    text-decoration: underline;
    cursor: pointer;
}

/* .fa-regular:hover {
    color: red;
    cursor: pointer;
} */

.addToWishlistBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    border: 2px solid black;
}

.addToWishlistBtn:hover {
    border: 2px solid red;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}